body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header {
    flex: 0 0 60px; /* Header com altura fixa */
    width: 100%;
    text-align: center;
    background-color: #0047ab;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

main {
    flex: 1; /* O main vai ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    overflow-y: auto; /* Barra de rolagem apenas vertical */
}

footer {
    flex: 0 0 70px; /* Footer com altura fixa */
    width: 100%;
    background-color: #0047ab;
    display: flex;
    padding: 0 20px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}

footer div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer input {
    flex: 1;
    height: 40px; /* Altura ajustada para melhor visualização */
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

footer button {
    height: 40px;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0078d4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

footer button:hover {
    background-color: #005a9e;
}

h1 {
    margin: 0;
}

#chat-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.user-message {
    align-self: flex-end;
    background-color: #0078d4;
    color: white;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 70%;
}

.ai-message {
    align-self: flex-start;
    background-color: #f1f0f0;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 60%;
}
